{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
</head>
<body>

<div id="main" style="width: 100%;height: 100%;">

</div>
<script src = "{% static "plugins/jquery-3.7.1.min.js" %}"></script>
<script type="text/javascript">


$(function (){
    initChart();
    updateChart();
})


var current_index = 0;
var myChart1 = echarts.init(document.getElementById('main'));
var maxSeriesLength = 20;
var maxRealLineSeriesLength = 20
var maxDashedLineSeriesLength = 5


var option = null;
var colors = ["#488f31", "#59cdaa", "#1b9be0", "#56428e", "#9c56b8", "#c23b75", "#ec2176", "#f03867", "#f66f4b", "#fca443", "#f3d72b", "#9edb40", "#30c16f", "#179f8c", "#147f9f", "#4986b5", "#7278a6", "#a066ab"];

function initChart(){
    option = {
        title: {
            text: ''
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                animation: false
            }
        },
        xAxis: {
            type: 'value',
            splitLine: {
                show: false
            },
            boundaryGap: false,
        },
        yAxis: {
            type: 'value',
            boundaryGap: [0, '100%'],
            splitLine: {
                show: false
            },
            max: 'dataMax',
        },
        series: [],
        legend: {},
        animationDurationUpdate: 0,
    };
    myChart1.setOption(option);
}

function updateChart() {
    $.ajax({
        url: "/get_chart_data/",
        type: "GET",
        dataType: "json",
        success: function (res) {
            if(current_index < res.length) {  // 如果还有数据可获取
                var new_data = res[current_index];  // 获取一个数据点，而不是整个列表
                process_data(new_data);
                current_index++;  // 更新当前索引
            }
        },
        error: function (xhr, status, error) {
            console.error('AJAX请求失败:', status, error);
        }
    });
}

function process_data(newData) {
    var figureCount = newData.figures.length;
    while (option.series.length < figureCount * 2) {
        var figureNumber = Math.floor(option.series.length / 2);
        var isPredicted = option.series.length % 2 == 1;
        var color = colors[figureNumber % colors.length];
        var seriesName = 'Variable ' + (figureNumber + 1) + (isPredicted ? ' Predicted' : '');
        option.series.push({
            data: [],
            type: 'line',
            markPoint: {
                data: []
            },
            showSymbol: false,
            name: isPredicted ? '' : seriesName,
            lineStyle: isPredicted ? { type: 'dashed' ,width:5} : {},
            itemStyle: { color: color }
        });
    }

    newData.figures.forEach((value, i) => {
        // 移除最左边的补全点
        if (option.series[i * 2].data.length >= maxRealLineSeriesLength) {
            let removedIndex = option.series[i * 2].data.shift().name; // 获取被移除数据点的index
            // 过滤掉与被移除补全数据点相关的markPoint
            if (option.series[i * 2].markPoint && option.series[i * 2].markPoint.data.length > 0) {
                option.series[i * 2].markPoint.data = option.series[i * 2].markPoint.data.filter(
                    markPoint => markPoint.coord[0] !== removedIndex
                );
            }
        }

        // 加入新的补全数据点
        var dataPoint = {
            name: newData.index,
            value: [newData.index, value],
        };
        option.series[i * 2].data.push(dataPoint);

        // 若开始预测
        if(newData.predicted_figures[i] !== null) {
            if(option.series[i * 2 + 1].data.length >= maxDashedLineSeriesLength) {
                 let removedIndex = option.series[i * 2 + 1].data.shift().name;
                    if (option.series[i * 2 + 1].markPoint && option.series[i * 2 + 1].markPoint.data.length > 0) {
                        option.series[i * 2 + 1].markPoint.data = option.series[i * 2 + 1].markPoint.data.filter(
                            markPoint => markPoint.coord[0] !== removedIndex
                        );
        }
            }

            var predictedDataPoint = {
                name: newData.index,
                value: [newData.index, newData.predicted_figures[i]],
            };

            option.series[i * 2 + 1].data.push(predictedDataPoint);
        }

        // Ensure markPoint exists before using it
        if (!option.series[i * 2].markPoint) {
            option.series[i * 2].markPoint = { data: [] };
        }

        if (!option.series[i * 2 + 1].markPoint) {
            option.series[i * 2 + 1].markPoint = { data: [] };
        }

        if (newData.highlighted_figures[i] !== null) {
            var markPoint = {
                coord: [newData.index, value],
                symbol: 'circle',
                symbolSize: 20,
                label: { show: false },
                animation: false,
                animationDurationUpdate: 0,
                itemStyle: { color: 'yellow' },
            };
            console.log('Real Line MarkPoint:', markPoint);
            option.series[i * 2].markPoint.data.push(markPoint);
        }

        if (newData.highlighted_predicted_figures[i] !== null && newData.predicted_figures[i] !== null) {
            var markPoint = {
                coord: [newData.index, newData.predicted_figures[i]],
                symbol: 'circle',
                symbolSize: 20,
                label: { show: false },
                animation: false ,
                animationDurationUpdate: 0,
                itemStyle: { color: 'red' },
            };
            option.series[i * 2 + 1].markPoint.data.push(markPoint);
        }
    });


     myChart1.setOption({
        series: option.series,
          xAxis: {
            min: 'dataMin',
            max: 'dataMax'
        }
    });
}

// Use an interval to update the chart every second
setInterval(updateChart, 200);

</script>
</body>
</html>