<div class="container" style="width: 415px;" id="train-results-table">
    <div class="panel panel-default">
        <table class="table" style="font-size: 18px;">
            <thead>
            <tr>
                <th>ID</th>
                <th>Dataset</th>
                <th>Class</th>
                <th>Model</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>1</th>
                <th>Walmart</th>
                <th>1</th>
                <th>NBeats</th>
            </tr>
            <tr>
                <th>2</th>
                <th>Walmart</th>
                <th>2</th>
                <th>DeepState</th>
            </tr>
            <tr>
                <th>3</th>
                <th>Walmart</th>
                <th>3</th>
                <th>NBeats</th>
            </tr>
            </tbody>
        </table>
    </div>
</div>